body {
    background: fixed linear-gradient(45deg, #FC466B, #3F5EFB);
    /* background: 100% rgb(131,58,180);
    background: fixed linear-gradient(55deg, rgba(131,58,180,1) 0%, rgba(167,164,59,1) 20%, rgba(196,59,149,1) 36%, rgba(29,253,183,1) 51%, rgba(111,111,225,1) 67%, rgba(184,145,145,1) 84%, rgba(252,176,69,1) 100%); */
    /* background: rgb(131,58,180);
background: fixed radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(167,164,59,1) 20%, rgba(196,59,149,1) 36%, rgba(29,253,183,1) 51%, rgba(111,111,225,1) 67%, rgba(184,145,145,1) 84%, rgba(252,176,69,1) 100%);
 */
    font-family: arial, sans-serif;
    color: rgb(15, 12, 12);
    overflow-x: hidden;
    background-repeat: no-repeat;
}

p {
    font-weight: bold;
}

#loginForm, #rapportsList {
    margin-top: 20vh !important;
    background-color: white;
    font-weight: bold;
    border-radius: 30px;
    opacity: 0.6;
}

h2 {
    text-align: center;
    margin-top: 1vh;
}

.interieurForm {
    text-align: left;
}

#inputUser, #inputMdp {
    width: 15vw;
    margin-left: 5vw;  
}

.insideText {
    /* margin-left: 2vw; */
    text-align: center;
    margin-bottom: 1vh;
}

.entreeLogin {
    margin-top: 1vh;
    text-align: center;
    margin-right: 1vw;

}

.form-group{
    margin-top: 5vh;
}

nav {
    opacity: 0.7;
  }

#cardVoirRapport,#cardCreerRapport {
    margin: 30vh;
    opacity: 0.6;
    background-color: white;
    border-radius: 30px;
}

.createVisitContainer{
    margin-left: 1vw;
}

.creerVisiteurBtn{
    margin-left: 9vw;
}

.containerVisiteur {
    border-radius: 30px;
    width: 25vw;
    height: 34vh;
    background-color: white;
    margin-left: 35vw;
    margin-top: 15vh;
    opacity: 0.6;
}

#staticEmail{
    border: 1px solid gray;
    border-radius: 5px;
}

#createVisiteur, #createRapport{
    margin-top: 10vh;
    padding-top: 1vh;
    border-radius: 5vh;
    opacity: 0.6;
    background-color: white;
}

.navbar-brand{
    animation-name: brand;
    animation-duration: 2s;
    position: relative;
}

@keyframes brand{
    0%{left: -1000px;}
    100%{left: 0px;}
}

#validVisiteur{
    margin-bottom: 3vh;
}
